<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/css/estilo_usuario.css') }}"/>
    <title>Cadastro do usuário</title>

</head>

    <body>
        <div>
        <div class="img">
        <div id="topo">		<!--	IMAGEM DO TOPO DO SITE	-->
        <img src="imagem/Seja-bem-vindo.png" width="400" height="137"/>
         </div>
            <form method="post" id="cadastrar">

                <label>CPF:</label>
                <input type="number" name="cpf" id="cpf">

                 <label>Nome:</label>
                 <input type="text" name="nome" id="nome">

                <label>Telefone:</label>
                 <input type="text" name="telefone" id="telefone">

                <label>E-mail:</label>
                 <input type="email" name="email" id="email">

                <label>Senha:</label>
                 <input type="password" name="senha" id="senha">

                 <p ><input  type=submit value=cadastrar></p>

            </form>
        </div>
        </div>
    </body>
</html>