<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="estilo.css" />
    <title>Cadastro do usuário</title>

</head>

    <body>
        <div>
        <div class="img">    
        <div id="topo">		<!--	IMAGEM DO TOPO DO SITE	-->
        <img src="imagem/Seja-bem-vindo.png" width="400" height="137"/>
         </div>
            <form method="post" id="cadastrar">

                <label>Login:</label>
                <input type="text" name="login" id="login">

                 <label>Senha:</label>
                 <input type="text" name="senha" id="senha">

                 <p ><input  type=submit value=cadastrar></p>

            </form>
        </div>
        </div>
    </body>
</html>